@charset "UTF-8";
body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

a {
  color: #115ABC; }

header nav {
  box-sizing: border-box;
  font-weight: 600;
  padding: 1.2em .5em 1.3em;
  text-align: center; }

.button-small {
  font-size: 80%; }

.feed {
  overflow: hidden; }

.item {
  border-bottom: solid 2px #f4f4f4;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 48em;
  padding: 1.8em 0 1.8em 3.2em;
  position: relative;
  width: 100%; }
  .item:first-of-type {
    border-top: solid 2px #f4f4f4; }

.item-upvote {
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  padding-top: 2em;
  text-align: center;
  top: 0;
  width: 3.2em; }

.item-upvote--upvoted {
  color: #ED8C18; }

.item-main {
  overflow: hidden;
  position: relative; }

.item-body {
  background: #fff;
  box-sizing: border-box;
  float: left;
  padding-bottom: 3.5em;
  padding-right: .8em;
  width: 100%; }

.item-body-left {
  height: 100%;
  margin-left: -100%;
  position: absolute; }

.item-body-right {
  height: 100%;
  right: -100%;
  position: absolute; }

.item-footer {
  bottom: 0;
  box-sizing: border-box;
  padding-top: .75em;
  position: absolute;
  width: 100%; }

.item-title {
  text-decoration: none; }
  .item-title:hover {
    text-decoration: underline; }

.item-title-heading {
  margin: 1.2em 0;
  margin: 0; }

.item-title-subheading {
  color: #666;
  display: block;
  font-size: .8em;
  font-weight: 300; }

.item-meta {
  display: block;
  font-size: .8em;
  font-weight: 300; }

.item-meta-url {
  color: #959595;
  display: inline-block;
  margin: 0 .1em; }

.item-meta-timestamp {
  color: #666; }

.item-meta-author {
  border-bottom: solid 1px #AE2B3D;
  color: #222;
  display: inline-block;
  padding-bottom: 1px;
  text-decoration: none; }

.item-action-container {
  bottom: 0;
  height: 3.5em;
  left: 0;
  position: absolute; }

.item-action {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 3.5em;
  margin: 0;
  min-width: 3.5em;
  padding-top: 1em; }
  .item-action:not(:first-of-type) {
    margin-left: 1em; }

.item-action-microcopy {
  color: #666;
  display: inline-block;
  font-size: .8em;
  padding: .1em .2em .2em; }

.item-comments {
  background: #f4f4f4;
  box-sizing: border-box;
  padding: .4em .5em .6em .5em; }

.item-comments-heading {
  font-size: 1.25em;
  margin: .3em 0; }

.form-comment {
  display: block;
  margin-bottom: 1.2em; }

.form-comment-label {
  color: #666;
  display: block;
  font-size: .8em; }

.item-comment {
  border-color: #fff;
  padding: 1em .2em 1.1em 2.5em; }
  .item-comment:first-of-type {
    border-color: #fff; }

.item-upvote-comment {
  position: absolute;
  padding-top: 1em;
  width: 2.5em; }

.item-body-comment {
  background: transparent;
  padding-bottom: 0; }

.item-comment-text {
  font-size: 90%;
  margin-bottom: .4em;
  padding-bottom: .2em; }

.item-comment-metadata {
  border-left: solid 2px #959595;
  padding-left: .3em; }

.item-meta-comment {
  display: inline-block; }

.u-hidden {
  display: none; }

.u-text-right {
  text-align: right; }

/*
 * PURE Breakpoints
 *
 * sm  @media screen and (min-width: 35.5em) ≥ 568px .pure-u-sm-*
 * md  @media screen and (min-width: 48em) ≥ 768px .pure-u-md-*
 * lg  @media screen and (min-width: 64em) ≥ 1024px  .pure-u-lg-*
 * xl  @media screen and (min-width: 80em) ≥ 1280px  .pure-u-xl-*
 *
 */
@media only screen and (min-width: 48em) {
  .item {
    border-left: solid 2px #f4f4f4;
    border-right: solid 2px #f4f4f4; } }

/*# sourceMappingURL=style.css.map */
