$black  : #222;
$white  : #fff;
$red    : #AE2B3D;
$purple : #4208A1;
$blue   : #115ABC;
$green  : #00A24F;
$yellow : #F7C019;
$orange : #ED8C18;

$gray-light: #959595;
$gray: #666;

$white-ish: #f4f4f4;

$serif      : serif;
$sans-serif : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

$light  : 300;
$normal : 400;
$semi   : 600;

body {
  font-family: $sans-serif;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $blue;
}

header {

  nav {
    box-sizing: border-box;
    font-weight: $semi;
    padding: 1.2em .5em 1.3em;
    text-align: center;
  }
}

.feed {
  overflow: hidden;
}

.item {
  border-bottom: solid 2px $white-ish; 
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 48em;
  padding: 1.8em .8em 1.8em 3.2em;
  position: relative;
  width: 100%;

  &:first-of-type {
   border-top: solid 2px $white-ish; 
  }
}

.item-upvote {
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  padding-top: 2em;
  text-align: center;
  top: 0;
  width: 3.2em;
}

.item-upvote--upvoted {
  color: $orange;
}

.item-main {
  overflow: hidden;
  position: relative;
}

.item-body {
  background: $white;
  box-sizing: border-box;
  float: left;
  padding-bottom: 3.5em; // item action container height
  width: 100%;
}

.item-body-left {
  height: 100%;
  margin-left: -100%;
  position: absolute;
}

.item-body-right {
  height: 100%;
  right: -100%;
  position: absolute;
}

.item-footer {
  bottom: 0;
  box-sizing: border-box;
  padding-top: .75em;
  position: absolute;
  width: 100%;
}

.item-title {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.item-title-heading {
  margin: 1.2em 0;
  margin: 0;
}

.item-title-subheading {
  color: $gray;
  display: block;
  font-size: .8em;
  font-weight: $light;
}

.item-meta {
  display: block;
  font-size: .8em;
  font-weight: $light;
}


.item-meta-url {
  color: $gray-light;
  display: inline-block;
  margin: 0 .1em;
}

.item-meta-timestamp {
  color: $gray;
}

.item-meta-author {
  border-bottom: solid 1px $red;
  color: $black;
  display: inline-block;
  padding-bottom: 1px;
  text-decoration: none;
}

.item-action-container {
  bottom: 0;
  height: 3.5em;
  left: 0;
  position: absolute;
}

.item-action {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-weight: $light;
  height: 3.5em;
  margin: 0;
  min-width: 3.5em;
  padding-top: 1em;

  &:not(:first-of-type) {
    margin-left: 1em;
  }
}

.item-action-icon {

}

.item-action-microcopy {
  color: $gray;
  display: inline-block;
  font-size: .8em;
  padding: .1em .2em .2em;
}




// TIL ipad and ipad mini both render at 768px for the browser! neat
/*
 * PURE Breakpoints
 *
 * sm  @media screen and (min-width: 35.5em) ≥ 568px .pure-u-sm-*
 * md  @media screen and (min-width: 48em) ≥ 768px .pure-u-md-*
 * lg  @media screen and (min-width: 64em) ≥ 1024px  .pure-u-lg-*
 * xl  @media screen and (min-width: 80em) ≥ 1280px  .pure-u-xl-*
 *
 */

@media only screen and (min-width: 48em) {
  .item {
    border-left: solid 2px $white-ish;
    border-right: solid 2px $white-ish;
  }
}